# 淘宝镜像
electron_mirror="https://npmmirror.com/mirrors/electron/"
electron_builder_binaries_mirror="https://npmmirror.com/mirrors/electron-builder-binaries/"

# 也可以设置 npm 镜像（可选）
registry="https://registry.npmmirror.com/"

// 设置 sqlite3 镜像
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
better-sqlite3_binary_host=https://npmmirror.com/mirrors/better-sqlite3/
